$main-color: black;
$main-color-light: rgb(235, 205, 165);

section.acercaDe {
  width: 100%;
  position: relative;
  background: #dcdcdc;
  .custom_shape_divider_bottom_1726338031 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom_shape_divider_bottom_1726338031 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 30px;
  }

  .custom_shape_divider_bottom_1726338031 .shape_fill {
    fill: #008080;
  }
  .contenedorContenido {
    display: flex;
    justify-content: center;
  }
  .contenidoAcercaDe {
    $color: white;
    $color-dark: white;
    $color: rgb(31, 30, 30);
    $color-dark: rgb(22, 22, 22);
    width: 85%;
    margin-top: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .central {
      display: inherit;
      flex-direction: inherit;
      align-items: inherit;
      gap: 2rem;
      padding-bottom: 10vh;
    }
    h1 {
      color: $color-dark;
      font-size: 27px;
    }
    p {
      color: $color;
      text-align: center;
      span {
        letter-spacing: 0.2px;
      }
    }
    button {
      margin-top: 7%;
      padding: 15px 22px;
      font-size: 17px;
      font-weight: 600;
      color: $color-dark;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid $color-dark;
      &:focus,
      &:active {
        outline: none;
        border: 2px solid rgb(255, 255, 255);
      }
    }
    a > svg {
      margin-top: 5vh;
    }
  }
}

@media (min-width: 900px) {
  section.acercaDe {
    min-height: 75vh;
    .custom_shape_divider_bottom_1726338031 svg {
      height: 90px;
    }
    > div {
      justify-content: center;
    }
    .contenidoAcercaDe {
      width: 100%;
      min-width: 500px;
      margin-top: 8vh;
      display: flex;
      flex-direction: row;
      justify-content: center;

      opacity: 0;
      transform: scale(0.6);

      transition: opacity 0.8s ease, transform 0.8s ease;

      &.isVisible {
        opacity: 1;
        transform: scale(1);
      }

      .central {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        width: 90%;
        h1 {
          color: $main-color;
          font-size: 38px;
        }
        p {
          width: 60%;
          // max-width: 1000px;
          line-height: 3.5rem;
          color: $main-color;
          font-size: 29px;
          text-align: center;
        }
        button {
          padding: 20px 40px;
          font-size: 21px;
          color: $main-color;
          transition: all 0.4s ease;

          border: 2px solid $main-color;
          &:hover {
            cursor: pointer;
            color: rgb(0, 0, 0);
            border: 2px solid rgb(0, 0, 0);
            transform: scale(1.05) translateY(-2px);
          }
        }
        svg {
          display: none;
        }
      }
    }
    // @keyframes opacity {
    //   0% {
    //     opacity: 0;
    //     scale: 0.6;
    //   }

    //   100% {
    //     scale: 1;
    //     opacity: 1;
    //   }
    // }
    @keyframes opacity {
      0% {
        opacity: 0;
        scale: 0.6;
      }
      100% {
        opacity: 1;
        scale: 1;
      }
    }
  }
}
