@import "../../app/globals.scss";

.main {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.mainContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .left {
    margin-top: $altura-top-navbar;
  }
  > div {
    width: 100%;
    height: calc((100% - $altura-top-navbar - $altura-bottom-navbar) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    > h1 {
      margin-top: 42%;
      width: 70%;
      text-align: center;
      font-size: 19px;
      font-weight: 500;
      color: white;
      text-shadow: 0px 3px 15px black;
    }
    h3 {
      padding: 0 10px;
      margin-top: 5%;
      text-transform: uppercase;
      color: white;
      font-size: 21px;
      letter-spacing: 1.5px;
      transition: all 0.5s ease-in;
      background-color: $celeste-claro-azulado;
      border-radius: 2px;
    }
  }
}
.mainContent .right {
  position: relative;
}
.mainContent .right::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 80%;
  top: -5.5px;
  z-index: 2;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.49) 50%,
    rgba(255, 255, 255, 0.5) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.49) 50%,
    rgba(255, 255, 255, 0.5) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.49) 50%,
    rgba(255, 255, 255, 0.5) 51%,
    rgba(255, 255, 255, 0) 100%
  );
}

section.acercaDe {
  position: relative;
  height: calc(100vh - $altura-top-navbar-scrolled - $altura-bottom-navbar);
  background: /*linear-gradient(#58b446, #07516e )*/ black;
  // background-color: $celeste-claro-azulado;

  > div {
    display: flex;
    justify-content: center;
  }
  .contenidoAcercaDe {
    width: 85%;
    margin-top: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    h1 {
      color: white;
      font-size: 28px;
      // -webkit-text-stroke-width: 0.5px;
      // -webkit-text-stroke-color: rgb(180, 180, 0);
    }
    p {
      color: whitesmoke;
      text-align: center;
      span {
        // color: black;
        font-weight: 800;
      }
    }
    button {
      margin-top: 7%;
      padding: 15px 22px;
      font-size: 17px;
      font-weight: 600;
      color: white;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid white;
      &:focus,
      &:active {
        outline: none;
        border: 1px solid yellow;
        border: 2px solid yellow;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    $width: 85%;
    width: $width;
    bottom: 0;
    left: calc((100% - $width) / 2);
    z-index: 2;
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.49) 50%,
      rgba(255, 255, 255, 0.5) 51%,
      rgba(255, 255, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.49) 50%,
      rgba(255, 255, 255, 0.5) 51%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.49) 50%,
      rgba(255, 255, 255, 0.5) 51%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
section.proyectos {
  // height: calc(100vh - $altura-top-navbar-scrolled);
  background: linear-gradient(#07516e, #020c36);
  padding-bottom: 15vh;
  .contenidoProyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    h1 {
      margin-top: 10%;
      color: white;
      font-size: 25px;
      text-align: center;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: rgba(0, 140, 255, 0.74);
    }
  }
  .contenidoProyectos .card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 15px 15px 30px -11px #bebebe3f, -15px -15px 30px -11px #ffffff3b;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-10px);
      box-shadow: 15px 15px 30px -11px #bebebed8,
        -15px -15px 30px -11px #ffffff88;
    }
    img {
      height: 100%;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
      object-fit: cover;
      border-radius: 8px 8px 2px 2px;
    }
    h3 {
      margin-top: 1rem;
      font-size: 16px;
      color: #021255;
      text-align: center;
    }
    p {
      width: 80%;
      margin-top: 1.5rem;
      padding-bottom: 2rem;
      color: $girs-oscuro;
      text-align: center;
      font-size: 14px;
    }
    button {
      margin-bottom: 2rem;
      outline: none;
      padding: 10px 20px;
      color: #021255;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 12px;
      border: 1px solid #07516e;
      &:active,
      &:focus {
        color: white;
        background-color: #021255;
        box-shadow: 0px 5px 9px 1px #000000a8;
      }
    }
  }
}

@media (min-width: 800px) {
  /* esto lo dejo asi como seria para la pantalla grande antes de tocarlo */
  .mainContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    > div {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &:hover {
        cursor: pointer;
        backdrop-filter: blur(1px);
        background-color: rgba(167, 150, 150, 0.26);
        h3 {
          opacity: 1;
        }
      }
      > h1 {
        margin-top: 42%;
        width: 70%;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        text-decoration: underline;
        color: white;
        line-height: 6rem;
        text-shadow: 0px 3px 15px black;
      }
      h3 {
        padding: 0 12px;
        margin-top: 15%;
        text-transform: uppercase;
        color: white;
        font-size: 50px;
        letter-spacing: 2px;
        opacity: 0;
        transition: all 0.5s ease-in;
        background-color: $celeste-claro-azulado;
        border-radius: 2px;
      }
    }
    hr {
      height: 80vh;
      border: none;
      border-left: 0.1px solid white;
      margin-bottom: 1vh;
    }
  }
}
