$altura-top-navbar: 13vh;
$altura-top-navbar-laptop: 170px;
$altura-top-navbar-scrolled: 10vh;
$altura-bottom-navbar: 10vh;

$altura-divFlotante: 30vh;
$ancho-divFlotante: calc(100% - 8% * 2);
$margen-elementos-navbar: 8%;

.barraNavegacionTop {
  width: 100%;
  height: $altura-top-navbar;
  position: relative;
  position: fixed;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 0 0 3px 3px;
  z-index: 10;
  transition: all 0.3s ease;

  .contenidoBarra {
    width: 85%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .logo {
    width: 120px;
    z-index: 20;
    img {
      height: 100%;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .expandibleMobile {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    hr {
      width: 90%;
      position: absolute;
      top: calc($altura-top-navbar + 10px);
    }
    .contenidoExpandible {
      width: 80%;
      margin-top: calc($altura-top-navbar + 10px);
      display: flex;
      flex-direction: column;
    }
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      > li {
        padding: 0.9rem 0;
      }
    }

    .menuButton {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: none;
      border: none;
      color: #444444;
      font-size: 1rem;
      transition: background 0.3s ease;
    }
    .submenu {
      display: none;
      width: 90%;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 10%;
      border-radius: 5px;
    }

    .submenu li {
      padding: 0.5rem 0;
    }

    .submenu a {
      display: flex;
      align-items: center;
      color: #444444;
      text-decoration: none;
      transition: color 0.3s ease;
      svg {
        margin-left: 10px;
      }
    }

    .menu .liButton {
      padding-bottom: 1.5rem;
      button {
        padding: 10px 30px;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        background-color: rgb(70, 130, 180);
        border-radius: 5px;
        border: none;
      }
    }
  }
  .expandibleMobile.show {
    transform: translateX(0%);
  }

  .elementosNavegacion {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    // border: 1px solid gray;
    gap: 1.5rem;
    > div {
      height: 47px;
      display: flex;
      align-items: center;
      transition: all 0.4s ease;
      border-radius: 3px 3px 0 0;
      background-color: transparent;
      // border: 1px solid orange;
    }
    .expandir {
      z-index: 20;
      &:hover {
        background-color: inherit;
      }
    }
    > div > a {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 1px solid transparent;
      transition: all 0.7s ease;
    }
    a svg {
      margin-left: 5px;
    }
  }
  .elementosNavegacion .proyectos,
  .elementosNavegacion .nosotros,
  .elementosNavegacion .donar {
    display: none;
  }
}

.barraNavegacionTop .expandibleLaptop {
  width: 100%;
  height: calc(100vh - $altura-top-navbar-laptop);
  position: absolute;
  top: $altura-top-navbar-laptop;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(58, 58, 58);
  // animation: dropDown 0.4s ease 0 1 forwards fill-mode;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  .expandibleContenido {
    width: 75%;
    max-width: 1000px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
    .infoContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8vh 40vh;
      p {
        // margin-left: 5%;
        width: 100%;
        margin-top: -10px;
        margin-bottom: 17px;
        font-weight: 300;
        // font-style: italic;
        font-size: 14px;
        // text-align: center;
        span {
          font-weight: 600;
        }
      }
      h2 {
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.575);
      }
      h4 {
        padding: 5px 0;
        font-weight: 400;
        font-weight: 20px;
        text-align: center;
        border-bottom: 1px solid transparent;
        transition: all 0.4s ease;
        &:hover {
          cursor: pointer;
          border-bottom: 1px solid white;
        }
      }
      .newsletter {
        margin-top: 3%;
      }
    }
    .footer {
      width: 100%;
      margin-top: 5%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .contacto {
        margin-top: 1rem;
        margin-left: 0.3rem;
        line-height: 2rem;
        display: flex;
        flex-direction: column;
        a {
          display: flex;
          align-items: center;
          font-size: 15px;
          border-bottom: 1px solid transparent;
          transition: all 0.4s ease;
          &:hover {
            cursor: pointer;
            border-bottom: 1px solid white;
          }
          svg {
            margin-right: 10px;
          }
        }
      }
      .iconos {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h4 {
          font-weight: 400;
          font-size: 15px;
        }
        div {
          display: flex;
          align-items: center;
          .primero {
            padding: 0 5px 0 0;
          }
          a {
            padding: 0 10px;
            display: flex;
            align-items: center;
            transition: all 0.4s ease;
            &:hover {
              transform: scale(1.5) translateY(-4px);
            }
          }
        }
      }
      // este before es de la navbar expandible. separacion con el "footer"
      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        z-index: 2;
        background: -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.49) 25%,
          rgba(255, 255, 255, 0.49) 50%,
          rgba(255, 255, 255, 0.5) 51%,
          rgba(255, 255, 255, 0.5) 76%,
          rgba(255, 255, 255, 0) 100%
        );
        background: -webkit-linear-gradient(
          top,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.49) 25%,
          rgba(255, 255, 255, 0.49) 50%,
          rgba(255, 255, 255, 0.5) 51%,
          rgba(255, 255, 255, 0.5) 76%,
          rgba(255, 255, 255, 0) 100%
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.49) 25%,
          rgba(255, 255, 255, 0.49) 50%,
          rgba(255, 255, 255, 0.5) 51%,
          rgba(255, 255, 255, 0.5) 76%,
          rgba(177, 11, 11, 0) 100%
        );
      }
    }
  }
}
.barraNavegacionTop.navbarScrolled {
  height: $altura-top-navbar-scrolled;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .contenidoBarra {
    margin-top: 15px;
    align-items: center;
  }
  .contenidoBarra .logo {
    min-width: 145px;
  }
  hr {
    top: calc($altura-top-navbar-scrolled + 10px);
  }
  .contenidoExpandible {
    margin-top: calc($altura-top-navbar-scrolled + 10px);
  }
}
.barraNavegacionBottom {
  width: 100%;
  height: $altura-bottom-navbar;
  position: relative;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.226);
  z-index: 10;
}
.barraNavegacionBottom.displayNone {
  display: none;
}
.barraNavegacionBottom .elementosNavegacion {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 900px) {
  .barraNavegacionTop.cambiarBackground {
    // este background es para cuando se abre la hamburguesa
    background-color: rgb(58, 58, 58);
    .elementosNavegacion {
      color: white;
    }
  }
  .barraNavegacionTop {
    height: $altura-top-navbar-laptop;
    // position: relative;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.788);
    .contenidoBarra {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .logo {
      width: 170px;
      // filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.781));
    }
    .logo:hover {
      cursor: pointer;
    }
    .elementosNavegacion {
      .proyectos,
      .nosotros,
      .donar {
        display: flex;
      }
      margin-top: 2px;

      color: black;
      > div {
        height: unset;
        padding: 10px 15px 17px 15px;
        a {
          font-weight: 600;
          transition: all 0.3s ease;
        }
      }
      > div:hover {
        background-color: rgb(58, 58, 58);
        > a {
          border-bottom: 1px solid white;
          color: white;
        }
      }
      .expandir {
        padding: 0;
        background-color: unset;
      }
    }
    .elementosNavegacion .proyectos,
    .elementosNavegacion .nosotros,
    .elementosNavegacion .donar {
      &:hover {
        .flotanteProyectos,
        .flotanteNosotros,
        .flotanteDonar {
          display: flex;
        }
      }
    }

    .elementosNavegacion .proyectos .flotanteProyectos,
    .elementosNavegacion .nosotros .flotanteNosotros,
    .elementosNavegacion .donar .flotanteDonar {
      display: none;
      position: absolute;
      top: calc(100% - 1px);
      left: 50%;
      transform: translateX(-50%);
      color: white;
      border-radius: 3px;
      background-color: rgb(58, 58, 58);
    }
    .flotanteProyectos .contenedorImagen,
    .flotanteDonar .contenedorImagen {
      width: 27.3vh;
      height: 20vh;
      display: flex;
      justify-content: center;
      margin: 15px 15px 15px 10px;
      overflow: hidden;
      position: relative;
      border-radius: 5px;
      border: 1px solid black;
      img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        object-fit: cover;
        transition: all 0.2s ease-in;
        &:hover {
          cursor: pointer;
          transform: scale(1.08);
        }
      }
      button {
        width: 90%;
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 10px;
        padding: 12px 0;
        outline: none;
        background-color: rgba(255, 255, 255, 0.884);
        border-radius: 25px;
        border: none;
        border: 1px solid transparent;
        transition: all 0.3s ease;
        p {
          width: 90%;
          font-size: 17px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid transparent;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          p {
            text-decoration: underline;
          }
        }
      }
    }

    .flotanteProyectos .listaProyectos {
      width: 30ch;
      margin-top: 12px;
      margin-left: 12px;
      // border: 1px solid orange;
      ul {
        height: 70%;
        margin-top: 5%;
        list-style: none;
        line-height: 1.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // border: 1px solid orange;
      }
      hr {
        width: 90%;
      }
      a {
        border-bottom: transparent;
        transition: all 0.5s ease;
        font-weight: 400;
        font-size: 16.5px;
        &:hover {
          border-bottom: 1px solid white;
        }
      }
      .todosLosProyectos {
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.02) translateX(2px) translateY(-1px);
        }
        a {
          display: flex;
          align-items: center;
          margin-left: 0;
          text-decoration: underline;
          transition: all 0.5s ease;
          &:hover {
            border-bottom: 1px solid transparent;
            span {
              display: flex;
            }
          }
          span {
            display: none;
            align-items: center;
            transition: all 0.3s ease-in;
            &:hover {
              transform: translateX(25px);
            }
          }
        }
      }
    }
    .flotanteProyectos .contenedorImagen:hover img,
    .flotanteProyectos .contenedorImagen button:hover ~ img {
      transform: scale(1.08);
    }
    .elementosNavegacion .nosotros,
    .elementosNavegacion .donar {
      position: relative;
    }

    .elementosNavegacion .nosotros .flotanteNosotros,
    .elementosNavegacion .donar .flotanteDonar {
      $width: 42vh;
      width: $width;
      flex-direction: column;
      ul {
        padding: 10px 0;
        list-style: none;
        line-height: 3rem;
      }
      li {
        position: relative;
        transition: 0.5s all ease;
        background-color: transparent;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
          > a {
            border-bottom: 1px solid white;
            > svg {
              color: inherit;
            }
          }
        }
      }
      .segundoItemDonar {
        svg {
          margin-right: 2px;
        }
        &:hover {
          svg {
            color: inherit;
          }
        }
      }
      .opcionesDonarContainer {
        // margin-top: -10px;
        margin-left: 5px;
        line-height: 2.1rem;
        > li {
          text-align: start;
          a {
            font-size: 16px;
          }
        }
      }
      .recursos:hover {
        .flotanteListaDonaciones {
          display: block;
        }
      }
      a,
      .segundoItemDonar {
        margin-left: 22px;
        font-size: 16.5px;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        transition: all 0.5s ease;

        > svg {
          position: absolute;
          right: 10px;
          top: calc(50% - 16px / 2);
          transition: 0.7s all ease;
          color: transparent;
        }
      }
    }
    .flotanteListaDonaciones {
      display: none;
      position: absolute;
      top: 0%;
      left: 102%;
      width: 200px;
      border-radius: 5px;
      background-color: rgb(68, 68, 68);
      ul {
        list-style: none;
        .ultimo {
          border-bottom: none;
          padding-bottom: 5px;
        }
      }
      li {
        margin-left: 10px;
        margin-right: 40px;
        padding: 10px 10px 0px 0;
        line-height: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.322);
      }
    }
    .expandibleMobile.show {
      display: none;
    }
    .expandibleLaptop.show {
      // display: flex;
      transform: translateY(0%);
    }
  }
  .barraNavegacionTop.cambiarBackground::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 90%;
    top: 100%;
    z-index: 2;
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.49) 50%,
      rgba(255, 255, 255, 0.5) 51%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.49) 50%,
      rgba(255, 255, 255, 0.5) 51%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .barraNavegacionTop.navbarScrolled {
    height: $altura-top-navbar-laptop;
    box-shadow: unset;
    .contenidoBarra {
      margin-top: none;
    }
    // estaba probando hacer que cuando se haga scroll la barra de navegacion se achique pero esta bastante quilombo asique por ahora no
    /*
    height: 110px;
    .contenidoBarra {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    // esto es para cuando se hace hover sobre los proyectos pero esta la barra de navegacion scrolleada
    .elementosNavegacion .proyectos .flotanteProyectos {
      top: calc(100% - 1px);
      left: 10%;
      // transform: translateX(-50%);
      color: white;
      border-radius: 3px;
      background-color: rgb(58, 58, 58);
    }
    */
  }
  .barraNavegacionTop.navbarScrolled.cambiarBackground {
    // este background es para cuadno esta scrolleado y se abre la hambuerguesa
    background-color: rgb(58, 58, 58);
    // background-color: rgba(255, 255, 255, 0.616);
    height: $altura-top-navbar-laptop;
    .contenidoBarra {
      display: flex;
      flex-direction: column;
    }
  }
  .barraNavegacionBottom {
    display: none;
  }
  // .barraNavegacionTop.testing {
  //   height: 110px;
  //   .contenidoBarra {
  //     width: 90%;
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //   }
  // }
}
@media (min-width: 1200px) {
  .barraNavegacionTop {
    .flotanteProyectos .contenedorImagen {
      width: 35vh;
      height: 20vh;
    }
  }
}
@media (min-width: 1400px) {
  .barraNavegacionTop {
    .flotanteProyectos .contenedorImagen {
      width: 45vh;
      height: 25vh;
    }
    .flotanteProyectos .listaProyectos {
      ul {
        height: 77%;
      }
    }
  }
}
