/* globales */
$celeste-claro-azulado: rgb(70, 130, 180);
$altura-navbar: 18vh;

$negro: #2c2c2c;
$gris-del-logo: rgba(34, 34, 34, 0.849);
$underline-gris-navbar: rgba(34, 34, 34, 0.658);
$tamaño-fuente-navbar: 18px;
$fondo-menu-flotante: rgb(70, 130, 180);
$fondo-menu-flotante-transparente: rgba(70, 131, 180, 0.404);
