$overlay: rgba(96, 170, 12, 0.9);
$overlay: rgba(0, 0, 0, 0.836);
$main-color: #ff6178;
$main-color: #ad5462;
$secondary-color: #1dbcae;
$secondary-color: #237a73;

.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentContainer {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageContainer {
  width: 100%;
  height: 100vh;
  position: relative;

  .headerOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 30px;

    h1 {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 20px;
      font-weight: 200;
    }
  }
}
@media (min-width: 900px) {
  .imageContainer .headerOverlay {
    width: 58%;
    left: unset;
    right: 0;

    animation: appear 1s ease-in-out;

    h1 {
      font-size: 57px;
    }
    h3 {
      font-size: 22px;
    }
  }
}
@keyframes appear {
  from {
    opacity: 0.5;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.infoContainer {
  width: 94%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-size: 16px;
    font-weight: 400;
    color: $main-color;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    color: #232323;
    margin-bottom: 30px;
  }
  p {
    max-width: 800px;
    line-height: 20px;
    font-weight: 200;
    color: #313131;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
  }
}
@media (min-width: 900px) {
  .infoContainer {
    h5 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 34px;
    }
    p {
      line-height: 24px;
      font-size: 19px;
      margin-bottom: 10px;
    }
  }
}

.pilares {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #ededed;
  padding: 50px 0;
  position: relative;
  > div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }
  h2 {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
  }
  .item {
    width: 85%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    svg {
      color: $main-color;
    }
    h6 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
    }
    p {
      text-align: center;
      font-weight: 200;
      font-size: 16px;
    }
  }
}
@media (min-width: 900px) {
  .pilares {
    padding: 100px 0;
    > div {
      gap: 3rem;
      opacity: 0;
      transform: scale(0.7);
      transition: 2s ease;

      &.visible {
        transform: scale(1);

        opacity: 1;
      }
    }
    h2 {
      font-size: 30px;
      margin-bottom: 60px;
    }
    .item {
      max-width: calc(100% / 3);
      h6 {
        font-size: 18px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.impacto {
  width: 94%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    color: #232323;
    margin-bottom: 30px;
  }
  p {
    max-width: 700px;
    line-height: 20px;
    font-weight: 200;
    color: #313131;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
  }

  div.list {
    width: 100%;
    max-width: 800px;
    .title {
      display: flex;
      align-items: center;
      color: $secondary-color;
      margin-bottom: 15px;
      h3 {
        font-size: 35px;
        font-weight: 300;
      }
      span {
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
      }
    }
    p {
      text-align: start;
    }
  }
  a button {
    margin-top: 100px;
    padding: 7px 25px;
    width: auto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: $main-color;
    background: transparent;
    border: 1px solid $main-color;
    border-radius: 6px;
  }
}
@media (min-width: 900px) {
  .impacto {
    overflow: hidden;
    h5 {
      font-size: 18px;
    }
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
    div.list {
      max-width: 350px;
      opacity: 0;
      transform: translateX(100%);
      transition: 0.8s ease-out;

      &.visible {
        opacity: 1;
        transform: translateX(0%);
      }

      .title {
        h3 {
          font-size: 40px;
        }
      }
    }
    a button {
      padding: 15px 40px;
      color: $main-color;
      font-size: 16px;
      transition: all 0.4s ease;
      &:hover {
        cursor: pointer;
        background-color: $main-color;
        color: white;
        transform: scale(1.05) translateY(-2px);
      }
    }
  }
}

.gallery {
  margin-top: 4rem;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: calc(100% / 4);
  column-width: 33%;
  padding: 0 12px;
  .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    margin-bottom: 12px;

    opacity: 0.5;
    transform: translateY(100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  img {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.others {
  margin-top: 40px;
  width: 100%;
  padding: 60px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #232323;
  background-color: #ededed;
  > div {
    margin-top: 2rem;
    gap: 2rem;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
  }
  img {
    display: none;
  }
  .infoOnHover {
    display: none;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }
}
@media (min-width: 900px) {
  .others {
    > div {
      width: 90%;
      flex-direction: unset;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      > div {
        width: 100%;
        position: relative;
        .infoOnHover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: rgba(128, 128, 128, 0.849);
          transition: all 0.5s ease;
          opacity: 0;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
    img {
      height: auto;
      width: 100%;
      max-width: 100%;
      max-height: 170px;
      min-height: 150px;
      display: block;
      margin: auto;
      object-fit: cover;
    }
    a {
      margin-top: 10px;
    }
  }
}
@media (min-width: 750px) {
  .imageContainer .headerOverlay {
    padding: 60px;
  }
  .infoContainer {
    h5 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 1300px) {
  .imageContainer .headerOverlay {
    width: 58%;
    left: unset;
    right: 0;
    h1 {
      font-size: 65px;
    }
    h3 {
      font-size: 25px;
    }
  }
  .pilares {
    h2 {
      font-size: 32px;
    }
    .item {
      h6 {
        font-size: 20px;
      }
      p {
        font-size: 19px;
      }
    }
  }
  section.impacto {
    h5 {
      font-size: 19px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 34px;
      margin-bottom: 20px;
    }
    p {
      font-size: 19px;
      margin-bottom: 30px;
    }
    div.list {
      width: calc(100% / 4 - 2rem);
      p {
        font-size: 18px;
      }
    }
    a button {
      padding: 20px 50px;
      color: $main-color;
      font-size: 18px;
    }
  }
}
