.contenedor {
  width: 100%;
  padding-top: 3vh;
  // padding-bottom: 10vh;
  background-color: #5f9ea0;
  background-color: #008080;
  scroll-margin-top: calc(10vh + 10vh);
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contenido {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      // margin-top: 20%;
      color: white;
      font-weight: 300;
    }

    h1 {
      margin-top: 10px;
      text-align: center;
      color: white;
      font-size: 27px;
    }

    .boxesContainer {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
    }
    .box {
      height: 120px;
      width: calc(100% - 40%);
      max-width: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-radius: 8px;
      div {
        height: 70%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .p {
          width: 100%;
          display: inherit;
          flex-direction: inherit;
          justify-content: inherit;
          color: white;
          font-weight: 700;
          font-size: 30px;
        }
        h6 {
          font-size: 12px;
          color: black;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .contenedor {
    .contenido {
      .boxesContainer {
        .box {
          max-width: 220px;
        }
      }
      .arrowNextSection {
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 900px) {
  .contenedor {
    .contenido {
      padding-top: 10vh;
      animation: appearLeft linear;
      animation-timeline: view();
      animation-range: entry 0% cover 35%;
      h5 {
        color: black;
        margin-top: 0;
        font-size: 18px;
      }
      h1 {
        color: black;
        font-size: 34px;
        margin-bottom: 25px;
        &::after {
          width: 0;
          height: 0;
        }
      }
      .boxesContainer {
        width: 100%;
        padding-top: 5vh;
        padding-bottom: 20vh;
        .box {
          height: 160px;
          max-width: 250px;

          > div {
            justify-content: flex-end;
          }
          .p span {
            font-size: 35px;
          }
          h6 {
            margin-top: 5px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            min-height: 44px;
            color: black;
            font-size: 16px;
          }
        }
      }
      .arrowNextSection {
        margin-top: 130px;
        display: none;
      }
    }
  }
  .custom_shape_divider_bottom_1726352060 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
      position: relative;
      display: block;
      width: calc(162% + 1.3px);
      height: 160px;
    }
    .shape_fill {
      fill: #ffffff;
    }
  }
  @keyframes appearLeft {
    from {
      opacity: 0;
      transform: translateY(-80%) scale(0.5);
    }
    to {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
  }
}
