@import "../../app/globals.scss";

section.empresas {
  padding-bottom: 20vh;
  background-color: white;
  background-color: rgb(223, 223, 223);
  .contenedorEmpresas {
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenidoEmpresas {
    $color: black;
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
      margin-top: 15px;
      color: $color;
      font-weight: 300;
    }
    h1 {
      margin-top: 5rem;
      width: 80%;
      text-align: center;
      color: $color;
      font-size: 27px;
    }
    h2 {
      // padding: 5px 0;
      width: 80%;
      text-align: center;
      margin-top: 2rem;
      font-weight: 300;
      font-size: 24px;
      color: rgb(56, 56, 56);
      border-radius: 12px;
    }
    .logos {
      position: unset;
      margin-top: 2rem;
      width: 90%;
      max-width: 1536px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      .container {
        position: unset;
        width: 150px;
        height: 100%;
        img {
          object-fit: contain;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  section.empresas .contenedorEmpresas .contenidoEmpresas {
    $width-divs: 250px;
    $height-divs: 100px;
    $cant-divs: 7;
    $segundos-animacion: 20s;

    h2 {
      text-align: start;
      font-size: 26px;
    }
    .logos {
      margin-top: 2rem;
      width: 90%;
      height: $height-divs;
      max-width: 1536px;
      margin-inline: auto;
      display: unset;
      flex-direction: unset;
      justify-content: unset;
      position: relative;
      overflow: hidden;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
      );

      .container {
        width: $width-divs;
        // background-color: orange;
        height: 100%;
        position: absolute;
        animation-duration: $segundos-animacion;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      img {
        object-fit: contain;
      }
      .logo1 {
        animation-delay: calc(
          $segundos-animacion / $cant-divs * ($cant-divs - 1) * -1
        );
      }
      .logo2 {
        animation-delay: calc(
          $segundos-animacion / $cant-divs * ($cant-divs - 2) * -1
        );
      }
      .logo3 {
        animation-delay: calc(
          $segundos-animacion / $cant-divs * ($cant-divs - 3) * -1
        );
      }
      .logo4 {
        animation-delay: calc(
          $segundos-animacion / $cant-divs * ($cant-divs - 4) * -1
        );
      }
      .logo5 {
        animation-delay: calc(
          $segundos-animacion / $cant-divs * ($cant-divs - 5) * -1
        );
      }
      .logo6 {
        animation-delay: calc(
          $segundos-animacion / $cant-divs * ($cant-divs - 6) * -1
        );
      }
      .logo7 {
        animation-delay: calc(
          $segundos-animacion / $cant-divs * ($cant-divs - 7) * -1
        );
      }
      // .logo8 {
      //   animation-delay: calc(
      //     $segundos-animacion / $cant-divs * ($cant-divs - 8) * -1
      //   );
      // }
      // .logo9 {
      //   animation-delay: calc(
      //     $segundos-animacion / $cant-divs * ($cant-divs - 9) * -1
      //   );
      // }
      // .logo10 {
      //   animation-delay: calc(
      //     $segundos-animacion / $cant-divs * ($cant-divs - 10) * -1
      //   );
      // }
    }
    .logos.empresas {
      .container {
        left: max(calc($width-divs * $cant-divs));
        animation-name: scrollLeft;
      }
    }
    .logos.fundaciones {
      .container {
        animation-name: scrollRight;
        left: -$width-divs /* max(calc($width-divs * $cant-divs))*/;
      }
    }
  }
}
@keyframes scrollLeft {
  to {
    left: -250px;
  }
}
@keyframes scrollRight {
  to {
    left: calc(100% + 250px);
  }
}
